* {
  margin: 0; padding: 0;
}
nav {
  background: aqua;
  width: 100%;
  height: 60px;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  margin-right: 0px;
  padding: 20px;
}
nav li:nth-child(1) {
  margin-right: auto;
  margin-left: 0px;
  margin-top: 0px;
}
#burger {
  display: none;
}

@media all and (max-width: 760px) {
  #burger {
    display: block;
    cursor: pointer;
  }
  nav ul {
    flex-direction: column;
    background: rgb(0, 183, 255);
    width: 50%;
    height: 100vh;
    margin-top: -60px;
    transition: 1s transform;
  }
  nav li:nth-child(1) {
    display: none;
  }
  nav li {
    display: block;
    margin-left: 50px;
  }
  #burger:target .secret {
    transform: translateX(0%);
  }
  span {
    line-height: 60px;
    margin-left: 15px;
  }

  .secret {
    visibility: hidden;
    transform: translateX(-300%);
  }
}
