<style>
* { margin: 0; padding: 0; }

#container {
  height: 1800px;
}

nav {
  background: aqua;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin-right: 0px;
  padding: 20px;
}

nav li:nth-child(4) {
  margin-right: auto;
  margin-left: auto;
}   
.judul_halaman {
  margin-top: 170px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0%);
  transition: 2s;

}
.judul_halaman_hide {
  transform: translateY(-300%);
}
#judul {
  transform: translateY(-300%);
}
p {
  margin-top: 300px;
}
.change {
  background: red;
  height: 55px;
  transition: 1s;
}
</style>